<div class="row">
  <div class="col-xs-12">
    <img src="{{recipes.imgUrl}}" alt="" style="max-width:500px;height:500px" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{recipes.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group open">
      <button
        type="button" data-bs-toggle="dropdown"
        class="btn btn-primary dropdown-toggle ">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu ">
        <li><a href="#" class="">To Shopping List</a></li>
        <li><a href="#" class="">Edit Recipe</a></li>
        <li><a href="#" class="">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipes.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
